@font-face {
    font-weight: 600;
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-Medium.ttf");
}

body {
    margin: 0;

    background-color: #FFFFFF;
    background-image: url('./images/BG.svg');
    background-repeat: no-repeat;
    background-position: center top;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #111827;
}
 
p {
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 112px;
}

header {
    height: 80px;
    margin-bottom: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    width: 442px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 282px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu a {
    font-weight: 600;
    text-decoration: none;
    color: #111827;
}

.menu li {
    padding: 4px 8px;

    font-size: 14px;
    line-height: 20px;
}

.badges {
    width: 282px;

    display: flex;
    justify-content: space-between;
}

.badge {
    width: 135px;
    height: 40px;

    border: 1px solid gray;
    border-radius: 5px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    background: #000000;
}

.hero {
    height: 640px;
    margin-bottom: 74px;

    display: flex;
}

.content {
    width: 696px;
    box-sizing: border-box;
    padding-top: 96px;
    padding-right: 48px;
    margin-right: 32px; 
}

.hero h1 {
    margin: 0;
    margin-bottom: 16px;

    font-size: 60px;
    line-height: 72px;
}

.description {
    line-height: 28px;
}

.hero p {
    margin-bottom: 32px;
}

.buttons {
    width: 333px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.button-1 {
    width: 138px;

    border-radius: 8px;

    background: #7C3AED;
    color: #FFFFFF;
}

.button-2 {
    width: 179px;

    color: #7C3AED;
}

.watch {
    margin-right: 8px;
}

.img-mobile {
    width: 488px;

    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-band-1 {
    top: 483px;
    left: 0;
}

.left-band-2 {
    top: 566px;
    left: 0;
}

.right-band-1 {
    top: 296px;
    left: 988px;
    z-index: -1;
}

.right-band-2 {
    top: 356px;
    left: 828px;
    z-index: -1;
}

.right-band-3 {
    top: 389px;
    left: 1260px;
}

.circle {
    z-index: -1;
    opacity: 60%;
}

.purple-circle {
    top: -189px;
    left: 1087px;

    filter: blur(150px);
}

.turquoise-circle {
    top: 312px;
    left: 829px;

    filter: blur(70px);
}

.logotypes {
    height: 142px;
    box-sizing: border-box;
    padding: 16px 0;
}

.wrapper {
    width: 1216px;
    height: 110px;
    margin: 0 auto;

    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper img {
    margin-right: 64px;
}

.wrapper img:last-child {
    margin: 0;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-heading {
    margin: 0 auto;
    margin-bottom: 64px;
    width: 800px;
    height: 124px;
}

.features h2 {
    margin: 0;
    margin-bottom: 8px;

    font-size: 48px;
    line-height: 60px;
    text-align: center;
}

.features p {
    text-align: center;
}

.rows {
    height: 368px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 64px;
}

.feature-item {
    width: 384px;
    height: 152px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feature-item h3 {
    margin: 0;
    margin-bottom: 8px;

    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.feature-item p {
    font-size: 16px;
    line-height: 24px;
}

.testimonial {
    margin: 0 auto;
    width: 1440px;
    height: 892px;

    background: #D5FAFC;
}

.testimonial > img {
    position: absolute;
    top: 64px;
    left: 112px;

    opacity: 30%;
}

.testimonial-heading {
    top: 120px;
    left: 216px;

    width: 488px;
    height: 156px;
}

.heading h2 {
    margin: 0;

    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2.5px;
}

.testimonial-item {
    position: absolute;

    padding: 32px;
    box-sizing: border-box;

    border-radius: 8px;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px -2px #1118270F,
                0px 4px 8px -2px #1118271A;  
}

.testimonial-item > img {
    margin-bottom: 32px;
}

.testimonial-content {
    width: 100%;

    line-height: 28px;

    display: flex;
}

.testimonial-content > img {
    margin-right: 16px;
}

.testimonial-content .name {
    font-weight: 700;
}

.testimonial-content .position {
    color: #6B7280;
    font-size: 14px;
    line-height: 20px;
}

.testimonial-content .quote {
    margin-bottom: 24px;
}

.testimonial-item1 {
     top: 340px;
     left: 320px;
 
     width: 384px;
     height: 396px;
 }

 .testimonial-item2 {
    top: 196px;
    left: 736px;

    width: 488px;
    height: 312px;
 }

 .testimonial-item3 {
    top: 540px;
    left: 736px;

    width: 384px;
    height: 256px;
 }

 .metrics {
    height: 338px;
    padding: 80px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .metrics-heading {
    width: 592px;
    height: 156px;
 }

 .metrics-heading h2 {
    margin-bottom: 8px;
 }

 .metrics-content {
    width: 592px;
    height: 178px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 64px;
 }

 .achievements-item {
    width: 280px;
    height: 69px;

    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .achievements-item img {
    padding: 8px;
 }

 .achievements-item div {
    width: 216px;
 }

 .achievements-item .number {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -2.5px;
 }

 .achievements-item .label {
    font-size: 18px;
    line-height: 24px;
 }

 .logo-clouds {
    height: 431px;
    padding: 80px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid #F3F4F6;
 }

 .logo-heading {
    width: 488px;
    height: 264px;
    padding: 40px 0;
    box-sizing: border-box;
 }

 .logo-heading h2 {
    margin-bottom: 8px;
 }

 .logos {
    width: 696px;
    height: 100%;
 }

 .logos > img {
    left: 78px;
 }

 .inner-logos {
    width: 448px;
    height: 192px;

    top: 40px;
    left: 124px;
 }

 .inner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 64px;
 }

 .inner-logos img {
    margin-right: 64px;
 }

 .inner-logos img:nth-child(4) {
    margin-right: 0;
 }
 
 .cta {
    margin: 0 auto;
    width: 1440px;
    height: 558px;

    background: #1DB5BE;
 }

 .cta-heading {
    width: 592px;
    height: 336px;
    margin: 111px 0;
 }

 .cta-heading h2 {
    margin-bottom: 8px;
 }

 .cta-heading .description {
    margin-bottom: 48px;
 }

 .cta-heading p:nth-of-type(2) {
    margin-bottom: 8px;

    font-weight: 500;
    line-height: 28px;
 }