@font-face {
    font-weight: 600;
    font-family: Inter;
    src: url("./fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Inter;
    src: url("./fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: Inter;
    src: url("./fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Inter;
    src: url("./fonts/Inter/Inter-Medium.ttf");
}

body {
    margin: 0;
    background-color: #FFF;
    background-image: url('./images/BG.svg');
    background-repeat: no-repeat;
    background-position: center top;
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: #111827;
}
 
.tablet {
    display: none;
 }
 
p {
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 112px;
}

header {
    height: 80px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    width: 442px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: #FFF;
 }

.menu {
    width: 282px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #111827;
}

.menu li {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.badges {
    width: 282px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
}

.badge {
    width: 135px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #000;
}

.hero {
    height: 640px;
    margin-bottom: 74px;
    display: flex;
}

.content {
    width: 696px;
    box-sizing: border-box;
    padding-top: 96px;
    padding-right: 48px;
    margin-right: 32px; 
}

.hero h1 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 72px;
}

.description {
    line-height: 28px;
}

.hero .description {
    color: #374151;
}

.hero p {
    margin-bottom: 32px;
}

.buttons {
    width: 333px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.button-1 {
    width: 138px;
    border-radius: 8px;
    background: #7C3AED;
    color: #FFF;
}

.button-2 {
    width: 179px;
    color: #7C3AED;
}

.watch {
    margin-right: 8px;
}

.img-mobile {
    width: 488px;
    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.left-band-1 {
    top: 483px;
    left: 0;
}

.left-band-2 {
    top: 566px;
    left: 0;
}

.right-band-1 {
    top: 296px;
    left: 988px;
    z-index: -1;
}

.right-band-2 {
    top: 356px;
    left: 828px;
    z-index: -1;
}

.right-band-3 {
    top: 389px;
    left: 1260px;
}

.circle {
    z-index: -1;
    opacity: 0.6;
}

.purple-circle {
    top: -189px;
    left: 1087px;
    filter: blur(150px);
}

.turquoise-circle {
    top: 312px;
    left: 829px;
    filter: blur(70px);
}

.logotypes {
    height: 142px;
    box-sizing: border-box;
    padding: 16px 0;
}

.logotypes .wrapper {
    width: 100%;
    height: 100%;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial > img {
    top: 64px;
    left: 112px;
    opacity: 0.3;
}

.testimonial-item > img {
    margin-bottom: 32px;
}

.testimonial-content > img {
    margin-right: 16px;
}

 .logos > img.desktop {
    left: 78px;
 }

 .inner-logos img {
    margin-right: 64px; 
 }

 .inner-logos img:nth-child(4) {
    margin-right: 0;
 }

.logotypes .wrapper img {
    margin-right: 64px;
}

.logotypes .wrapper img:last-child {
    margin: 0;
}

.features {
    padding: 96px 0;
}

.features-heading {
    margin: 0 auto;
    margin-bottom: 64px;
    width: 800px;
    height: 124px;
}

.features-heading h2 {
    text-align: center;
}

.features p {
    text-align: center;
}

.rows {
    height: 368px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 64px;
}

.feature-item {
    width: 384px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feature-item div {
    padding: 0 16px;
}

.feature-item h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.feature-item p {
    font-size: 16px;
    line-height: 24px;
    color: #374151;
}

.testimonial {
    margin: 0 auto;
    padding-top: 120px;
    padding-left: 216px;
    box-sizing: border-box;
    width: 1440px;
    height: 892px;
    background: #D5FAFC;
}

.testimonial-heading {
    width: 488px;
    height: 156px;
}

.heading h2 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2.5px;
}

.testimonial-item {
    position: absolute;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 2px 4px -2px #1118270F,
                0 4px 8px -2px #1118271A;  
}

.testimonial-content {
    width: 100%;
    line-height: 28px;
    display: flex;
}

.testimonial-content .name {
    font-weight: 700;
}

.testimonial-content .position {
    color: #6B7280;
    font-size: 14px;
    line-height: 20px;
}

.testimonial-content .quote {
    margin-bottom: 24px;
}

.testimonial-item1 {
     top: 340px;
     left: 320px;
     width: 384px;
     height: 396px;
 }

 .testimonial-item2 {
    top: 196px;
    left: 736px;
    width: 488px;
    height: 312px;
 }

 .testimonial-item3 {
    top: 540px;
    left: 736px;
    width: 384px;
    height: 256px;
 }

 .metrics {
    height: 338px;
    padding: 80px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .metrics-heading {
    width: 592px;
    height: 156px;
 }

 .metrics-heading h2 {
    margin-bottom: 8px;
 }

 .metrics-content {
    width: 592px;
    height: 178px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 64px;
 }

 .achievements-item {
    width: 280px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .achievements-item div {
    width: 216px;
 }

 .achievements-item .number {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -2.5px;
 }

 .achievements-item .label {
    font-size: 18px;
    line-height: 24px;
 }

 .logo-clouds {
    padding: 80px 0;
 }

 .logo-clouds .wrapper {
    height: 270px;
    border-top: 1px solid #F3F4F6;
    display: flex;
    justify-content: space-between;
}

 .logo-heading {
    width: 488px;
    height: 100%;
    padding: 40px 0;
    box-sizing: border-box;
 }

 .logo-heading h2 {
    margin-bottom: 8px;
 }

 .logos {
    width: 696px;
    height: 100%;
 }

 .inner-logos {
    width: 448px;
    height: 192px;
    top: 40px;
    left: 124px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 64px;
 }

 .footer-badges p {
    font-weight: 500;
    line-height: 28px;
    color: #D1D5DB;
 }

 .cta {
    margin: 0 auto;
    width: 1440px;
    height: 558px;
    display: flex;
    overflow: hidden;
    background: #1DB5BE;
 }

 .cta-heading {
    margin-top: 111px;
    margin-left: 112px;
    width: 592px;
    height: 336px;
 }

 .cta-heading h2 {
    margin-bottom: 8px;
 }

 .cta-heading .description {
    margin-bottom: 48px;
 }

 .cta-heading p:nth-of-type(2) {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 28px;
 }

 .cta-images .first-image {
    top: -80px;
    left: 48px;
 }

 .cta-images .second-image {
    top: 174px;
    left: 312px;
 }

 footer {
    margin: 0 auto;
    padding: 64px 122px;
    box-sizing: border-box;
    width: 1440px;
    height: 288px;
    display: flex;
    justify-content: space-between;
    background: #000;
 }

 .footer-nav {
    width: 432px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .links {
    width: 423px;
    height: 60px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
 }

 .links li{
    margin-right: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
 }

 .links a:nth-of-type(2) li {
    margin-right: 225px;
 }

 .links a:last-of-type li {
    margin-right: 0;
 }
 
 .copyright {
    font-size: 14px;
    line-height: 20px;
    color: #D1D5DB;
 }

 .footer-badges {
    width: 176px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

@media (width <= 768px) {
body {
    background: none;
    background-image: url('./tablet-images/BG.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.tablet {
    display: block;
}

.desktop {
    display: none;
}

.container {
    width: 768px;
    padding: 0 40px;
}

header {
    margin: 0;
}

.main-nav {
    width: 128px;
}

.main-nav .menu {
    display: none;
}

header .wrapper {
    width: 338px;
    display: flex;
}

header .wrapper button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
}

.hero {
    height: 1160px;
    margin: 0;
    display: block;
}

.content {
    width: 100%;
    height: 440px;
    padding: 80px 0;
    margin: 0;
}

.hero h1 {
    font-size: 48px;
    line-height: 60px;
}

.img-mobile {
    margin: 0 auto;
}

.left-band-1-tablet {
    top: 727px;
    left: 0;
}

.left-band-2-tablet {
    top: 833px;
    left: 0;
}

.right-band-1-tablet {
    top: 489px;
    left: 527px;
    z-index: -1;
}

.right-band-2-tablet {
    top: 565px;
    left: 441px;
    z-index: -1;
}

.right-band-3-tablet {
    top: 607px;
    left: 672px;
}

.logotypes {
    height: 168px;
}

.logotypes .wrapper {
    flex-wrap: wrap;
}

.features {
    padding: 80px 0;
}

.features-heading {
    width: 688px;
    height: 109px;
}

.heading h2 {
    font-size: 36px;
    line-height: 45px;
}

.rows {
    height: 632px;
}

.feature-item {
    width: 329px;
    height: 168px;
}

.feature-item h3 {
    font-size: 24px;
    line-height: 32px;  
}

.testimonial {
    margin: 0;
    padding: 120px 40px 80px;
    width: 768px;
    height: 1165px;
}

.testimonial > img {
    left: 20px;
}

.testimonial-heading {
    width: 100%;
    height: 81px;
    margin-bottom: 40px;
}

.testimonial-item {
    position: static;
    width: 100%;
    height: 284px;
    margin-bottom: 24px;
}

.testimonial-item3 {
    height: 228px;
    margin-bottom: 0;
}

.metrics {
    height: 457px;
    display: block;
    box-sizing: border-box;
}

.metrics-heading {
    width: 100%;
    height: 81px;
    margin-bottom: 48px;
}

.metrics-content {
    width: 100%;
    height: 168px;
    row-gap: 40px;
}

.achievements-item {
    width: 328px;
    height: 64px;
}

.achievements-item div {
    width: 264px;
}

.achievements-item .number {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: normal;
}

.achievements-item .label {
    font-size: 16px;
}

.logo-clouds {
    height: 383px;
}

.logo-heading {
    width: 328px;
    padding: 20px 0;
}

.logos {
    width: 328px;
    height: 164px;
}

.inner-logos {
    width: 272px;
    height: 117px;
    margin: 24px 28px 23px;
    row-gap: 39px;
}
}